@charset "UTF-8";

p::first-line{
    color: red;
    font-size: 5rem;
}
p::first-line {
    color: blue;
}

li{
    list-style: none;
}

li::before{
    content:"A";
    color: blue;
    font-size: 20px;
    
}
