@charset "UTF-8";
body{
    background-color: black;
}
h1{
    color: white;
    margin: 10%;
    text-align: center;
}
#d{
    text-align: center;
    padding: 10px;
    margin: 10%;
    background-color: darkgoldenrod;
    color: white;
}

button{
    color: black;
    background-color: darkorange;
    margin-left: 280px;
}