@charset "UTF-8";

p::first-letter {
    color: red;
    font-size: 5em;
}
p::first-line{
    color: blue;
}

li {
    list-style: none;
}

li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('iconeGoogle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection {
    background-color: black;
    color: white;
}
